/Example/KGFloatingDrawer-Example.xcodeproj/xcuserdata/CgPanda.xcuserdatad
/Example/KGFloatingDrawer-Example.xcworkspace/xcuserdata/CgPanda.xcuserdatad
/Example/Pods/Pods.xcodeproj/xcuserdata/CgPanda.xcuserdatad
